node_modules
.next
out
build
.DS_Store
*.pem

.env
.env*.local
!.env.example

npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

next-env.d.ts
tsconfig.tsbuildinfo

# Локальное хранилище загруженных изображений (драйвер storage=local)
/public/uploads/*
!/public/uploads/.gitkeep
